<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spazedog.lib.rootfw4"
    android:versionCode="1"
    android:versionName="1.0.2" >
    
    <uses-sdk
        android:minSdkVersion="9" />

    <application
        android:label="RootFW4" >
    </application>

</manifest>
